

.App {
  text-align: center;
  display:  flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  box-shadow: 2px 4px 4px rgb(105, 105, 105);
  height: 33pc;
  width: 60%;
  
}

/* .map{
  height: 100vh;
  display: flex;
} */

.container{
  margin-left: 65%;
  margin-top: -30%;
}



.cord{
  width: 70%;
  margin-top: 23px;
  margin-left: 44px;
  padding: 0px 12px;
}

.input{
  /* display: flex; */
  margin-top: 20px;
  width: 90%;
  font-size: 22px;
  padding: 8px 12px;
  outline: none;
  border: none;
  border-bottom: 6px solid rgb(32, 147, 255);
  border-radius: 2px;
  box-shadow: 1px 3px 5px black;
}

.btn-container{
  /* border: 2px solid red; */
  margin-top: 12%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn{
  font-size: 20px;
  outline: none;
  background: none;
  padding: 5px 8px;
  border-radius: 3px;
  border-bottom: 3px solid rgb(89, 154, 214);
  border: 0.5px solid rgb(102, 102, 102);
  box-shadow: 0px 1px 2px gray;
  text-shadow: 0 1px 2px black;
}

.btn:hover{
  background-color: gray;
  color: white;
  cursor: pointer;
  box-shadow: 0px 3px 4px gray;
  text-shadow: 0 3px 4px rgb(0, 0, 0);
}





/* .btn:hover{
  background-color: gray;
  color: white;

} */
/* .tt-search-box-input{
  margin-top: -50%;
  width: 20%;
  margin-left: 40%;
} */

